// Переменные сетки
$grid-container: 1488px;
$grid-padding: 0 24px;
$grid-padding_mobile: 0 16px;


.container {
    max-width: $grid-container;
    width: 100%;
    padding: $grid-padding;
    margin: 0 auto;

    @media (max-width: $mobile-l) {
        padding: $grid-padding_mobile;
    }
}


.section {
    margin: 62px 0;

    @media (max-width: $tablet) {
        margin: 40px 0;
    }

    @media (max-width: $mobile-m) {
        margin: 30px 0;
    }
}