.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: change-color($firm-accent, $alpha: .5);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $tr;

    &._show {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;

        & .modal__wrap {
            transform: translate(0, 0);
        }
    }
}

.modal__wrap {
    min-height: 100%;
    transform: translate(0, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 16px;
    transition: $tr;

    & h2 {
        margin: 0 0 8px 0;
    }
}

.modal__window {
    position: relative;
    max-width: 512px;
    width: 100%;
    background: #fff;
    border-radius: $radius-card-s;
    padding: 32px;
}

.modal__big-icon {
    width: 177px;
    height: 177px;
    margin: 40px auto 24px auto;
}

.modal__title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.modal__form {
    margin: 32px 0 0 0;
}

.modal__attention {
    font-size: 14px;
    color: $text-gray-dark;
    line-height: 1.3;
    margin: 14px 0 0 0;
}

.modal__submit {
    margin: 15px 0 0 0;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 13.5px;
        height: 1.5px;
        background: $text-gray-light;
        border-radius: 100px;

        &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

// Модальное окно предлагаемой функции
.modal-service {
    color: $firm-dark;
}

.modal-service__content {
    margin-top: 32px;
}

.modal-service__title {
    font-size: 28px;
    font-weight: 300;
}

.modal-service__text {
    margin-top: 24px;
    line-height: 1.6;
    font-weight: 300;
}

.modal-separator {
    border: 1px solid $outline-dark;
    margin: 32px 0;
}

.modal-service__subtitle {
    font-size: 28px;
    font-weight: 300;
    color: $firm-accent;
}

.modal-service__list {
    margin-top: 24px;
}

.modal-service__item {
    display: flex;
    font-weight: 300;
    line-height: 1.4;

    &::before {
        content: '';
        display: block;
        min-width: 6px;
        width: 6px;
        height: 6px;
        background: $firm-accent;
        border-radius: 50%;
        margin: 8px 16px 0 0;
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}