.section {
    margin: 120px 0;

    @media (max-width: $tablet) {
        margin: 80px 0;
    }

    // @media (max-width: $mobile-m) {
    //     margin: 60px 0;
    // }
}

.section__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

// .section-link {
//     display: flex;
//     align-items: center;
//     font-size: 13px;
//     font-weight: 500;
//     margin: 10px 0;
// }

.section-link__icon {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 10px;

    & svg {
        stroke: $text-dark;
    }
}