.calendar {
    max-width: 496px;
    width: 100%;
}

.calendar__body {
    width: 100%;
    height: 322px;
    background: #fff;
    box-shadow: 0px 8px 20px rgba(38, 38, 38, 0.1);
}

.calendar__footer {
    min-height: 116px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // column-gap: 22px;
    border: 1px solid $outline-dark;
    padding: 12px 22px;

    display: flex;
    flex-wrap: wrap;
    // margin: -6px 0;

    & > .cf-block:first-child {
        margin-right: 22px;
    }
}

.cf-block {
    display: flex;
    align-items: center;
    margin: 0 0 6px 0;

    &_blue {
        
        & .cf-block__logo {
            background: #5272FF;
        }
    }

    &_purple {
        
        & .cf-block__logo {
            background: #7E4F84;
        }
    }
}

.cf-block__logo {
    max-width: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & svg {
        width: 20px;
        height: 20px;
        opacity: .5;
    }
}

.cf-block__title {
    font-size: 13px;
    font-weight: 400;
    line-height: lhperc(13, 20);
    margin-left: 20px;
}

// Начало стилей элементов FullCalendar ======================
.fc .fc-view-harness {
    width: 92%;
    height: 200px !important    ;
    // transform: scale(.93);
}

.fc .fc-view-harness-active > .fc-view {
    // top: 50% !important;
    // left: 50% !important;
    // transform: translate(-50%, -50%);
    // width: 90%;
    // height: 90%;
}

.fc-daygrid-day-top {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
}

.fc-day-today {
    background-color: transparent !important;
}

.fc .fc-col-header-cell-cushion {
    color: adjust-color($accent, $alpha: -.4);
    text-transform: capitalize;
}

.fc .fc-bg-event {
    opacity: 1 !important;
}

.fc-scrollgrid-sync-table {
    // height: auto !important;
}

.fc-theme-standard .fc-scrollgrid {
    border: none !important;
}

.fc-theme-standard th {
    border: none !important;
}

.fc-theme-standard td {
    border: none !important;
}

.fc .fc-daygrid-day-frame {
    min-height: auto !important;
    padding: 4px 0;
    margin: 2px;
}

.organized-by-arvis {
    z-index: -1 !important;
    background: #5272FF !important;
    opacity: 1 !important;
}

.arvis-will-take-part {
    z-index: -1 !important;
    background: #7E4F84 !important;
    opacity: 1 !important;
}

.event-day-number {
    color: #fff;
    opacity: 1 !important;
}

.hello .fc-event-title {
    color: #fff;
}
// Конец стилей элементов FullCalendar ======================
