.calendar {
    max-width: 496px;
    width: 100%;
}

.calendar__content {
    width: 100%;
    background: #fff;
    box-shadow: 0px 8px 20px rgba(38, 38, 38, 0.1);
}

.calendar__body {
}

.calendar__footer {
    min-height: 116px;
    border: 1px solid $outline-dark;
    padding: 12px 22px;

    display: flex;
    flex-wrap: wrap;

    & > .cf-block:first-child {
        margin-right: 22px;
    }
}

.cf-block {
    display: flex;
    align-items: center;
    margin: 0 0 6px 0;

    &_blue {
        
        & .cf-block__logo {
            background: #5272FF;
        }
    }

    &_purple {
        
        & .cf-block__logo {
            background: #7E4F84;
        }
    }
}

.cf-block__logo {
    max-width: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile-m) {
        max-width: 50px;
        height: 40px;
    }
    
    & svg {
        width: 20px;
        height: 20px;
        opacity: .5;
    }
}

.cf-block__title {
    font-size: 13px;
    font-weight: 400;
    line-height: lhperc(13, 20);
    margin-left: 20px;

    @media (max-width: $mobile-m) {
        line-height: 1.2;
        margin-left: 16px;
    }
}

.calendar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F8FA;
    padding: 12px 16px 12px 24px;

    @media (max-width: $mobile-l) {
        padding: 12px 16px;
    }
}

// Выбор месяца
.calendar__mounth {
    position: relative;
    z-index: 2;
    min-width: 130px;
    max-width: 200px;
    width: 100%;
    background: #fff;
    
    & .select-input {
        padding: 0 18px;
        border: none;
    }

    & .select-input__title {
        font-weight: 400 !important;
    }

    & .calendar__mounth-icon {
        position: absolute;
        top: 50%;
        right: 18px;
        width: 16px;
        height: 16px;
        transform: translate(0, -50%);
        pointer-events: none;
    }
}

// Выбор года
.calendar-year__container {
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;

    @media (max-width: $mobile-m) {
        margin: 0 0 0 8px;
    }
}

.calendar-year {
    max-width: 150px;
    width: 100%;
    overflow: hidden;
    margin: 0 12px;

    @media (max-width: 470px) {
        max-width: 90px;
        margin: 0 6px;
    }

    @media (max-width: $mobile-m) {
        margin: 0;
    }
}

.calendar-year__slide {

}

.calendar-year__radio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:checked {

            & ~ label {
                font-weight: 500;
                opacity: 1;
            }
        }
    }

    & label {
        font-size: 13px;
        opacity: .6;
        pointer-events: none;
    }
}

.calendar-year__arrow {
    width: 24px;
    height: 24px;
    opacity: 1;

    &.swiper-button-disabled {
        opacity: 0;
    }

    & svg {
        fill: $accent;
    }
}

// Начало стилей элементов FullCalendar ======================
.calendar__body {
    width: 100%;
    height: 280px;
    padding: 18px 22px;
}

.calendar__calendar-events {
    width: 100%;
    height: 100%;
}

.fc-col-header {

    & thead {
        margin-bottom: 16px;
    }
}

.fc .fc-daygrid-day-top {
    pointer-events: none;
}

.fc-day-other .fc-daygrid-day-bg {
    opacity: .15;
}

.fc-daygrid-day-top {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fc-day-today {
    background-color: transparent !important;
}

.fc .fc-col-header-cell-cushion {
    color: adjust-color($accent, $alpha: -.4);
    text-transform: capitalize;
    padding: 10px 4px;
}

.fc .fc-bg-event {
    z-index: 2 !important;
    opacity: 1 !important;
    margin: 2px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
}

.fc-theme-standard .fc-scrollgrid {
    border: none !important;
}

.fc-theme-standard th {
    border: none !important;
}

.fc-theme-standard td {
    border: none !important;
}

.fc .fc-bg-event .fc-event-title {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.fc .fc-bg-event div.fc-event-title {
    display: none;
}

.organized-by-arvis {
    z-index: -1 !important;
    background: #5272FF !important;
    opacity: 1 !important;
    transition: $tr;

    &:hover {
        
        @media (min-width: $min-hover) {
            background: brig-color(#5272FF, 10%) !important;
        }
    }

    &:active {
        @media (min-width: $min-hover) {
            background: brig-color(#5272FF, active) !important;
        }
        
        background: brig-color(#5272FF, 10%) !important;
    }
}

.arvis-will-take-part {
    z-index: -1 !important;
    background: #7E4F84 !important;
    opacity: 1 !important;
    transition: $tr;
    cursor: pointer;

    &:hover {
        
        @media (min-width: $min-hover) {
            background: brig-color(#7E4F84, 10%) !important;
        }
    }

    &:active {
        @media (min-width: $min-hover) {
            background: brig-color(#7E4F84, active) !important;
        }
        
        background: brig-color(#7E4F84, 10%) !important;
    }
}

.event-day-number {
    color: #fff;
    opacity: 1 !important;
}

.fc .fc-daygrid-day-number {
    transition: 0s;
}

// Конец стилей элементов FullCalendar ======================
