.sidebar {
    // position: sticky;
    position: relative;
    // top: 24px;
    min-width: 200px;
    max-width: 288px;
    width: 25%;
    height: 100%;
    background: $light;
    box-shadow: $shadow-card;
    padding: 40px 0;
    margin-bottom: 24px;

    @media (max-width: $laptop) {
        max-width: 230px;
    }

    @media (max-width: $tablet) {
        position: initial;
        max-width: none;
    }

    @media (max-width: $mobile-l) {
        padding: 24px 0;
    }
}

.sidebar-block {

    &:not(:last-child) {
        margin-bottom: 32px;

        @media (max-width: $mobile-l) {
            margin-bottom: 24px;
        }
    }

    &._active {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background: $gradient-cover;
            opacity: .3;
            pointer-events: none;
        }

        & .sidebar-block__title {
            color: $accent;
        }
    }
}

.sidebar-block__title {
    font-size: 14px;
    font-weight: 700;

    & a {
        display: block;
        padding: 6px 42px;
        text-transform: uppercase;

        @media (max-width: $mobile-l) {
            padding: 6px 24px;
        }
    }
}

.sidebar-block__list {
    margin-top: 10px;

    @media (max-width: $mobile-l) {
        margin-top: 4px;
    }

    & li {

        & a {
            display: block;
            padding: 5px 42px;

            @media (max-width: $mobile-l) {
                padding: 5px 24px;
            }
        }
    }
}