.footer {
    position: relative;
    color: $light;
    background: top center/cover no-repeat #333 url('../img/footer-bg.png');
    margin: auto 0 0 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $gradient-light;
        backdrop-filter: blur(5px);
    }
}

.footer__wrap {
    position: relative;
    z-index: 1;
}

.footer__content {
    display: flex;
    padding-top: 42px;

    @media (max-width: $laptop) {
        flex-direction: column;
    }
}

.footer__contacts-container {

}

.footer__socials {
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.footer__socials-list {
    display: flex;
}

.footer__social {

    &:not(:last-child) {
        margin-right: 22px;

        @media (max-width: $mobile-l) {
            margin-right: 16px;
        }
    }
}

.footer__socials-title {
    font-size: 12px;
    font-weight: 500;
    line-height: lhperc(12, 16);
    margin-left: 22px;
}

.footer__contacts {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.footer__phone {
    display: flex;
    flex-direction: column;
}

.footer__phone-title {
    font-size: 10px;

}

.footer__phone-link {
    position: relative;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap; 

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 0.6px dashed $light;
        opacity: 0;
        transition: $tr;
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            &::after {
                opacity: 1;
            }
        }
    }
}

.footer__support {
    max-width: 132px;
    width: 100%;
    margin-left: 50px;

    @media (max-width: $mobile-m) {
        margin-left: 24px;
    }
}

// Меню
.footer__menu {
    margin-left: 65px;

    @media (max-width: $laptop) {
        margin: 64px 0 0 0;
    }
}

.footer__menu-title {
    max-width: 497px;
    font-size: 18px;
}

.footer__menu-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 43px;

    @media (max-width: $laptop) {
        margin-top: 32px;
    }

    @media (max-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 16px;
    }

    @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.fm-column {
    margin-bottom: 24px;

    &:not(:last-child) {
        margin-right: 45px;

        @media (max-width: $tablet) {
            margin: 0;
        }
    }

    @media (max-width: $tablet) {
        margin: 0;
    }
}

.fm-column__title {
    font-size: 14px;
}

.fm-column__list {
    margin-top: 14px;

    & li {

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        & a {
            font-size: 14px;
            color: $item-light;
        }
    }
}

// Нижняя часть подвала
.footer__footer {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $outline-light;
    padding: 38px 0;
    margin-top: 36px;

    @media (max-width: 600px) {
        flex-direction: column-reverse;
        justify-content: initial;
    }
}

.footer__copyright {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media (max-width: 600px) {
        margin-bottom: 4px;
    }
}

.footer__copyright-icon {
    display: block;
    width: 14px;
    height: 14px;
}

.footer__copyright-text {
    font-weight: 400;
    margin-left: 22px;
}

.footer__copyright-security {
    color: adjust-color($light, $alpha: -.4);
    margin-left: 2px;
}

.footer__docs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 600px) {
        justify-content: center;
    }
}

.footer__doc {
    text-align: right;

    &:not(:first-child) {
        margin-left: 12px;

        @media (max-width: 600px) {
            margin: 0 12px;
        }
    }

    @media (max-width: 600px) {
        text-align: center;
    }
}