.order-members__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    @media (max-width: $laptop) {
        gap: 40px;
    }

    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}