.s-report {
    display: flex;

    @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
    }
}

.s-report__img-container {
    max-width: 360px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 8px 28px rgba(38, 38, 38, 0.06);
    padding: 30px 12px;
}

.s-report__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &::before {
        content: 'Загрузка документа';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(125.17deg, rgba(47, 63, 82, 0.04) 18.99%, rgba(52, 89, 138, 0.04) 45.19%, rgba(166, 75, 137, 0.04) 70.85%);
    }

    & img {
        position: relative;
        z-index: 1;
    }
}

.s-report__info {
    position: relative;
    max-width: 556px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(125.17deg, rgba(47, 63, 82, 0.04) 18.99%, rgba(52, 89, 138, 0.04) 45.19%, rgba(166, 75, 137, 0.04) 70.85%);
    padding: 42px;

    @media (max-width: $tablet) {
        padding: 24px;
    }

    @media (max-width: 550px) {
        margin-top: 32px;
    }
}

.s-report__loader {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.3);
    opacity: 0;
    pointer-events: none;
    
    &::before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        background: center/32px 32px no-repeat url("data:image/svg+xml,%3Csvg width=\"32\" height=\"32\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M32 16C32 12.8355 31.0616 9.74206 29.3035 7.11088C27.5454 4.47969 25.0466 2.42893 22.1229 1.21793C19.1993 0.00692534 15.9823 -0.309928 12.8786 0.307436C9.77486 0.924799 6.92393 2.44865 4.68629 4.68629C2.44865 6.92393 0.924799 9.77486 0.307435 12.8786C-0.309928 15.9823 0.00692538 19.1993 1.21793 22.1229C2.42893 25.0466 4.47969 27.5454 7.11088 29.3035C9.74206 31.0616 12.8355 32 16 32L16 28C13.6266 28 11.3065 27.2962 9.33316 25.9776C7.35977 24.6591 5.8217 22.7849 4.91345 20.5922C4.00519 18.3995 3.76755 15.9867 4.23058 13.6589C4.6936 11.3311 5.83649 9.19295 7.51472 7.51472C9.19295 5.83649 11.3311 4.6936 13.6589 4.23058C15.9867 3.76755 18.3995 4.00519 20.5922 4.91345C22.7849 5.8217 24.6591 7.35977 25.9776 9.33316C27.2962 11.3065 28 13.6266 28 16H32Z\" fill=\"%237E4F84\"/%3E%3C/svg%3E");
        animation: spinAround 1s linear infinite;
    }

    &._show {
        opacity: 1;
        pointer-events: all;
    }
}

.s-report__year {
    flex: 0 1 0;
    max-width: 200px;
    margin: 0;

    @media (max-width: 550px) {
        max-width: none;
    }
}

.s-report__content {
    flex: 1 1 0;
    margin: 24px 0;
}

.s-report__title {
    font-size: 13px;
    font-weight: 500;
    line-height: lhperc(13, 20);
}

.s-report__text {
    font-size: 12px;
    line-height: lhperc(12, 22);
    margin-top: 20px;

    @media (max-width: $mobile-l) {
        margin-top: 12px;
    }

    & p {
        margin-bottom: 8px;
    }
}

.s-report__download {
    font-size: 12px;
    color: $accent;
    text-decoration: underline;

    &:hover {
        
        @media (min-width: $min-hover) {
            text-decoration: none;
        }
    }

    &:active {
        color: adjust-color($accent, $alpha: -.3);
    }
}