.s-case__body {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.sc-images__slider-container {
    width: 45%;
    height: 100%;

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.sc-content__slider-container {
    width: 50%;
    margin-left: 50px;

    @media (max-width: 1200px) {
        margin-left: 40px;

    }

    @media (max-width: $tablet) {
        width: 100%;
        margin: 48px 0 0 0;
    }
}

.sc-images__slider {
    max-width: 554px;
    width: 100%;
    height: 382px;
    padding: 0;
    margin: 0;

    @media (max-width: $laptop) {
        height: 280px;
    }

    @media (max-width: $tablet) {
        max-width: none;
        width: 100%;
        height: 382px;
    }

    @media (max-width: $mobile-l) {
        height: 280px;
    }
}

.sc-images__arrows {

    @media (max-width: $laptop) {
        transform: translate(-50%, 124%);
    }

    @media (max-width: $tablet) {
        top: 333px;
        bottom: auto;
    }

    @media (max-width: $mobile-l) {
        top: 248px;
    }
}

.sci-slide {
    position: relative;
    width: 100%;
}

.sci-slide__img {
    width: 100%;
    height: 100%;

    & img {
        object-fit: cover;
    }
}

.sci-slide__tag {
    position: absolute;
    top: 32px;
    left: 0;
}

.sci-pagination {
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;

    & .swiper-pagination-bullet {
        position: relative;
        width: 28px;
        height: 3px;
        display: block;
        border-radius: 20px;
        background: adjust-color($accent, $alpha: -.8);
        transition: $tr;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 500%;
        }

        &:not(:last-child) {
            margin-right: 20px;

            @media (max-width: $mobile-l) {
                margin-right: 12px;
            }
        }

        &-active {
            background: $accent;
        }

        @media (max-width: $mobile-l) {
            width: 20px;
            
        }
    }

    @media (max-width: $tablet) {
        bottom: -24px;
    }
}

.sc-content__slider {
    max-width: 784px;
    width: 100%;
    height: 100%;
    padding: 58px 80px 46px;
    background: $light;
    box-shadow: $shadow-card;

    @media (max-width: $laptop) {
        padding: 48px 32px;
    }

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (max-width: $mobile-l) {
        padding: 32px 24px;
    }
}

.scc-slide__title {
    font-size: 22px;
    font-weight: 700;
    line-height: lhperc(22, 30);
    margin-bottom: 32px;
}

.scc-slide__list {
    margin: 22px 0;
}

.scc-slide__item {
    font-size: 13px;
    line-height: lhperc(13, 26);
}

.scc-slide__item-text {
    font-weight: 500;
    margin-left: 6px;
}

.scc-slide__text {
    font-size: 14px;
    font-weight: 400;
    line-height: lhperc(14, 28);
    margin: 10px 0;
}

.scc-slide__more {
    max-width: 254px;
    margin-top: 50px;

    @media (max-width: $mobile-l) {
        max-width: 200px;
        margin-top: 32px;
    }
}
