.s-struct {

}

.s-struct__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

    @media (max-width: $laptop) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 980px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $tablet) {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    @media (max-width: 750px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    @media (max-width: 530px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile-l) {
    }
}