// Карточка новости
.n-card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: $light;
    box-shadow: $shadow-card;
    transition: $tr;

    &:hover {
        
        @media (min-width: $min-hover) {
            box-shadow: none;

            & .n-card__content {
                border-color: $outline-dark;
            }

            & .n-card__more {

                & span:first-child {
    
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &:active {
        box-shadow: none;

        & .n-card__content {
            border-color: $outline-dark;
        }
    }
}

.n-card__thumb {
    position: relative;
    max-height: 236px;
    height: 100%;
    display: flex;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    &::after {
        content: '';
        @include overlay();
        background: linear-gradient(46.08deg, rgba(47, 63, 82, 0.3) -0.48%, rgba(52, 89, 138, 0.3) 50.44%, rgba(166, 75, 137, 0.3) 100.32%);
    }
}

.n-card__tags {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 8%;
    display: flex;

    & li {
        font-size: 14px;
        font-weight: 500;
        color: $text-light;
        text-shadow: 0 0 2px rgba(0,0,0,.5);

        &:not(:last-child) {
            margin-right: 10px;

            @media (max-width: $mobile-m) {
                margin-right: 8px;
            }
        }

        @media (max-width: $mobile-m) {
            font-size: 13px;
        }
    }

    @media (max-width: $mobile-l) {
        top: 24px;
        left: 24px;
    }

    @media (max-width: $mobile-s) {
        left: 16px;
    }
}

.n-card__thumb-img {
    width: 100%;

    & img {
        object-fit: cover;
    }
}

.n-card__content {
    flex: 1 0 auto;
    // height: 100%;
    display: flex;
    flex-direction: column;
    padding: 34px 42px;
    border: 1px solid transparent;
    border-top: none;
    transition: border $tr;

    @media (max-width: $laptop) {
        padding: 24px;
    }

    @media (max-width: $mobile-s) {
        padding: 24px 16px;
    }
}

.n-card__date {
    display: flex;
    align-items: center;
}

.n-card__date-icon {
    width: 16px;
    height: 16px;

    & svg {
        fill: $accent;
    }
}

.n-card__date-text {
    font-size: 14px;
    font-weight: 300;
    margin-left: 12px;
}

.n-card__title {
    font-size: 15px;
    font-weight: 700;
    line-height: lhperc(15, 28);
    text-transform: uppercase;
    margin-top: 16px;

    @media (max-width: $laptop) {
        font-size: 14px;
    }

    @media (max-width: $mobile-m) {
        font-size: 13px;
        margin-top: 12px;
    }
}

.n-card__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 2;
    margin: 22px 0 28px 0;

    @media (max-width: $mobile-m) {
        margin-top: 16px;
    }
}

.n-card__footer {
    border-top: 1px solid $outline-dark;
    margin: auto 0 0 0;
    padding-top: 24px;
}