.struct-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.struct-card__post {
    font-size: 12px;
    font-weight: 500;
    line-height: lhperc(12, 24);
    text-transform: uppercase;

    @media (min-width: $laptop) and (max-width: mwContainer($container)) {
        font-size: calc( (100vw - 1024px)/(1448 - 1024) * (10 - 8) + 8px);
    }

    @media (min-width: 900px) and (max-width: $laptop) {
        font-size: 10px;
    }

    @media (max-width: $mobile-l) {
        font-size: calc( (100vw - 320px)/(425 - 320) * (11 - 8) + 8px);
        font-weight: 600;
    }
}

.sc-man {
    position: relative;
    flex: 1 0 auto;
    background: linear-gradient(125.17deg, rgba(47, 63, 82, 0.04) 18.99%, rgba(52, 89, 138, 0.04) 45.19%, rgba(166, 75, 137, 0.04) 70.85%);
    border-radius: 100px 100px 0 0;
    margin-top: 14px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(125.17deg, rgba(47, 63, 82, 0.8) 18.99%, rgba(52, 89, 138, 0.8) 45.19%, rgba(166, 75, 137, 0.8) 70.85%);
    }
}

.sc-man__thumb {
    position: relative;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    & img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        
    }
}

.sc-man__info {
    display: flex;
    flex-direction: column;
    padding: 28px 18px 22px;

    @media (min-width: $laptop) and (max-width: mwContainer($container)) {
        padding: 28px calc( (100vw - 1024px)/(1448 - 1024) * (16 - 12) + 12px);
    }

    @media (max-width: 500px) {
        padding: 24px 16px 16px;
    }

    @media (max-width: $mobile-s) {
        padding: 24px 12px 16px;
    }
}

.sc-man__surname {
    font-size: 16px;
    font-weight: 500;
    line-height: lhperc(16, 22);

    @media (min-width: $laptop) and (max-width: mwContainer($container)) {
        font-size: calc( (100vw - 1024px)/(1448 - 1024) * (14 - 12) + 12px);
    }

    @media (max-width: $mobile-l) {
        font-size: 14px;
    }
}

.sc-man__name {
    font-size: 12px;
    line-height: lhperc(12, 22);
    margin-top: 4px;

    @media (min-width: $laptop) and (max-width: mwContainer($container)) {
        font-size: calc( (100vw - 1024px)/(1448 - 1024) * (12 - 10) + 10px);
    }

    @media (max-width: $mobile-l) {
        font-size: 10px;
        line-height: 1.2;
    }
}

.sc__company {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        display: block;
        padding-top: 55%;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(125.17deg, rgba(47, 63, 82, 0.8) 18.99%, rgba(52, 89, 138, 0.8) 45.19%, rgba(166, 75, 137, 0.8) 70.85%);
    }

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 55%;
    }
}

.sc__company-post {
    min-height: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: lhperc(12, 20);
    text-transform: uppercase;
    margin: 20px 18px 0;

    @media (min-width: $laptop) and (max-width: mwContainer($container)) {
        font-size: calc( (100vw - 1024px)/(1448 - 1024) * (10 - 8) + 8px);
    }

    @media (min-width: 900px) and (max-width: $laptop) {
        font-size: 10px;
    }

    @media (max-width: $mobile-l) {
        font-size: calc( (100vw - 320px)/(425 - 320) * (11 - 8) + 8px);
        margin: 20px 0 0;
    }

    @media (max-width: $mobile-s) {
        margin: 16px 12px 0;
    }
}