// $btn-default: #328AE6;
// $btn-hover: #4BADF1;
// $btn-active: #0C7FF8;
// $btn-focus: #0C7FF8;
// $btn-light: rgba(163, 170, 192, 0.1);
// $link-hover: #328AE6;
// $link-active: findLightColor($link-hover, 65%);

// Основной шаблон кнопки
.btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    padding: 9px;
    transition: $tr;

    @media (max-width: $mobile-l) {
        height: 40px;
    }
}

.btn_transparent {
    color: $text-light;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);

    
    &:hover {

        @media (min-width: $min-hover) {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &:active {
        background: rgba(255, 255, 255, 0.3);
    }
}

.btn_outline {
    color: $accent;
    border: 1px solid $accent;
    
    &:hover {

        @media (min-width: $min-hover) {
            color: $light;
            background: $accent;

            & .btn__icon {
        
                & svg {
                    fill: $light;
                }
            }
        }
    }

    &:active {
        color: $light;
        background: adjust-color($accent, $alpha: -.3);
        border-color: adjust-color($accent, $alpha: -.3);

        & .btn__icon {
    
            & svg {
                fill: $light;
            }
        }
    }

    & .btn__icon {

        & svg {
            fill: $accent;
        }
    }
}

.btn__icon {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    display: flex;

    & svg {
        fill: $text-light;
        transition: $tr;
    }
}

.btn-social {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;

    & svg {
        width: 40%;
        height: 40%;
        fill: $light;
        transition: $tr;
    }

    &_facebook {
        border-color: $facebook-color;
    }

    &_telegram {
        border-color: $telegram-color;
    }

    &_youtube {
        border-color: $youtube-color;
    }

    @media (max-width: $mobile-l) {
        width: 32px;
        height: 32px;
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            
            & svg {
                transform: scale(1.15);
            }
        }
    }

    &:active {

        & svg {
            transform: scale(1.1);
        }
    }
}

// Ссылки
.link {

    &:hover {
                
        @media (min-width: $min-hover) {
            color: $accent;
        }
    }

    &:active {
        color: adjust-color($accent, $alpha: -.3);
    }
}

.link-light {
    position: relative;

    &:hover {
                
        @media (min-width: $min-hover) {
            
            &::before {
                opacity: 1;
            }
        }
    }

    &:active {
        color: $light;

        &::before {
            border-color: $light;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border-top: 1px solid $item-light;
        opacity: 0;
        transition: $tr;
    }
}

.link-section {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
    margin: 10px 0;
    transition: $tr;

    & span {

        &:last-child {
            margin-left: 8px;
        }
    }

    &:hover {
        
        @media (min-width: $min-hover) {
            color: $accent;
            
            & .link-section__icon {
                transform: translate(2px, 0);
                
                & svg {
                    stroke: $accent;
                }
            }
        }
    }

    &:active {
        color: adjust-color($accent, $alpha: -.2);
        
        & .link-section__icon {
            
            & svg {
                stroke: adjust-color($accent, $alpha: -.2);
            }
        }
    }
}

.link-section__icon {
    width: 8px;
    height: 8px;
    display: block;
    transition: $tr;

    & svg {
        stroke: $text-dark;
    }
}

.link-more {
    display: flex;
    font-size: 13px;
    font-weight: 500;

    @media (max-width: $mobile-l) {
        font-size: 12px;
    }

    & span {

        &:first-child {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 3px;
                left: 0;
                display: block;
                width: 100%;
                height: 1px;
                background: #000;
                opacity: 0;
                transition: $tr;
            }
        }

        &:nth-child(2) {
            margin-left: 14px;

            @media (max-width: $mobile-l) {
                margin-left: 8px;
            }
        }

        & svg {
            width: 22px;
            height: 22px;
            fill: $accent;

            @media (max-width: $mobile-l) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &_light {
        color: $light;

        & span {

            &:first-child {
    
                &::after {
                    background: $light;
                }
            }

            svg {
                fill: $light;
            }
        }
    }
}