.logo {
    max-width: 168px;
    max-height: 56px;
    width: 100%;
    height: 100%;
    display: flex;

    &_header {
        margin-right: auto;
        
        @media (max-width: 1150px) {
            max-width: 130px;
        }
    }
}


.logo__icon {

}