// ================ Colors Start ================
$accent: #7E4F84;
$light: #fff;

// Текст
$text-light: #fff;
$text-dark: #2B2B2B;
$text-second: #747474;

// $text-gray-light: #A3AAC0;
// $text-gray-dark: #63768D;
// $text-light-second: rgba(255, 255, 255, 0.5);
// $text-dark: #333;

// Фирменные цвета
// $firm-light: #fff;
// $firm-dark: #292831;
// $firm-accent: #328AE6;


// Задний фон разделов
// $frame-light: #F5F9FD;
// $frame-dark: #292831;

// Обводка
$outline-light: rgba(255, 255, 255, 0.8);
$outline-dark: rgba(126, 79, 132, 0.1);

// Цвета кнопок в файле 'scss/elements/button.scss'
// ================ Colors End ================


// ================ Shadow Start ================
$shadow-card: 0px 20px 26px rgba(0, 0, 0, 0.06);
// ================ Shadow End ================


// ================ Radius Start ================
$radius-card-b: 32px;
$radius-card-s: 16px;
$radius-input: 8px;
$radius-round: 200px;
// ================ Radius End ================


// ================ Font Size Start ================
// $fs-title-main: 68px;
// $fs-title-section: 50px;
// $fs-subititle: 18px;
// ================ Font Size End ================


// ================ Responsive Start ================
$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;
// ================ Responsive End ================


// Размеры контейнера в этом файле 'scss/grid.scss'


// ================ Other Start ================
$ff-main: 'Gotham', sans-serif;
$tr: .3s;
$min-hover: 769px; // Минимальное разрешения экрана для hover-эффекта
// ================ Other End ================