@import 'mixins'; // Миксины
@import 'fonts'; // Шрифты
@import 'vars'; // Переменные
@import 'reset'; // Сброс css
@import 'grid'; // Сетка


html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-main;
    color: $text-dark;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    overflow-x: hidden;
    
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // overflow-x: hidden;

    & > .content {
        min-height: 700px;
        flex: 1 0 auto;
    }
}

.content-with-sidebar {
    display: flex;
    padding-top: 50px;

    @media (max-width: 900px) {
        flex-direction: column;
        padding-top: 0;
    }
}

.info {
    max-width: 1064px;
    width: 75%;
    margin-left: 48px;
    margin-bottom: 100px;
    // overflow: hidden;

    @media (max-width: mwContainer($container)) {
        margin-left: 50px;
    }

    @media (max-width: $laptop) {
        margin-left: 32px;
        margin-bottom: 80px;
    }

    @media (max-width: 790px) {
        width: 72%;
        margin-left: 12px;
    }

    @media (max-width: 900px) {
        width: 100%;
        margin: 32px 0 0 0;
        margin-bottom: 50px;
    }

    & > section {

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

.info__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

    @media (max-width: $laptop) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    @media (max-width: 680px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.info__body_one-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;

    @media (max-width: 900px) {
        gap: 16px;
    }
}

// Анимация
@import './animation';

// Елементы
@import './elements/button';
@import './elements/select';
@import './elements/checkbox';
@import './elements/logo';
@import './elements/tag';

// Компоненты
@import './components/forms';
@import './components/section';
@import './components/slider';
@import './components/breadcrumbs';
@import './components/sidebar';
@import './components/filter';
@import './components/calendar';

// Карточки
@import './components/cards/n-card';
@import './components/cards/sv-card';
@import './components/cards/struct-card';
@import './components/cards/sp-card';
@import './components/cards/spr-card';
@import './components/cards/p-card';
@import './components/cards/pub-card';
@import './components/cards/case-card';
@import './components/cards/m-card';
@import './components/cards/cm-card';
@import './components/cards/om-card';
@import './components/cards/dm-card';

// Модальные окна
@import './components/modals/modal';
@import './components/modals/modal-structure'; 
 
// Текстовые компоненты
@import './components/text/text';
@import './components/text/titles';

// Секции
@import './sections/header';
@import './sections/menu';
@import './sections/main';
@import './sections/s-news';
@import './sections/s-event';
@import './sections/s-case';
@import './sections/s-video';
@import './sections/footer';

// Страница структуры
@import './sections/s-struct';

// Страница "О нас"
@import './sections/about';
@import './sections/s-targets';
@import './sections/s-organs';
@import './sections/s-assist';
@import './sections/s-effect';

// Страница "Проекты"
@import './sections/s-projects';

// Страница 404
@import './sections/pnf';

// Страница Контакты
@import './sections/contacts';

// Страница Новостей
@import './sections/news';

// Страница с презентационными материалами
@import './sections/presentations';

// Страница с кейсами
@import './sections/cases';

// Страница кейса
@import './sections/case';

// Страница с членами ассоциации
@import './sections/members';

// Страница с Отчетами
@import './sections/report';

// Страница с Инфографикой
@import './sections/infographics';

// Страница о членстве Арвис
@import './sections/adv-members';
@import './sections/con-members';
@import './sections/order-members';
@import './sections/docs-members';

// События
@import './sections/s-calendar';
@import './sections/announc';
